﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="dashboard.aspx.cs" Inherits="Login.dashboard" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="userDetails" runat="server" Text=""></asp:Label> <br />
            <asp:Button ID="logOutBtn" runat="server" Text="Logout" OnClick="logOutBtn_Click" />
        </div>
    </form>
</body>
</html>
